body{
    min-height: 100vh;
    background: #ecf0f1;
}

.main-body{
    min-height: 100vh;
}

.sub-body{
    padding-top: 20vh;
    padding-bottom: 20vh;
    min-height: 70vh;
}

.vh-padding-20{
    padding-bottom: 20vh;
}

.text-info{
    background: #2d3436;
    padding: 10px;
    color: white;
    font-weight: 100;
}

/*   ID TARGETING   */
#account-sub-menu{

}
/*   END OF ID TARGETING   */

/*  COLORS */
.bg-ash{
    background: #ecf0f1;
}

.bg-ash-two{
    background: #bbb;
}

.bg-green-one{
    background: #219451;
}

.bg-green-two{
    background: #16a085;
}

.color-white-one{
    color: white;
}

/* END OF COLORS*/

.thin-text{
    font-weight: 100;
}

.investment-details{
    background: #676969;
    font-weight: 100;
    color: white;
}

.login-title {
    font-weight: 100;
    margin-bottom: 50px;
}

.login-image {
    width: 256px;
    height: 256px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar-logo-image {
    width: 56px;
    height: 56px;
}

.forgot-password-description {
    padding: 20px;
    background: #949b9c;
}

.pending-item {
    padding: 30px;
    margin-bottom: 20px;
}

.pending-donation-title {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 100;
}

.pending-donation-id{
    font-size: 0.8em;
}